
@font-face {  
	font-family: 'Led';
	src: URL('../css/CursedTimerUlil-Aznm.ttf') format('truetype');
}

@font-face {  
	font-family: 'Helvetica Bold';
	src: URL('../css/Helvetica-Bold-Font.ttf') format('truetype');
}  

@font-face {  
	font-family: 'Retro';
	src: URL('../css/strasua.ttf') format('truetype');
}

h1, h2 {
    margin-top: 0;
}

#account {
    position: absolute;
    display: inline;
    text-align: center;
    top: 19px;
    right: 17px;
}

button {
    font-size: 1vw !important;
}

#top {
    padding-bottom: 5px !important;
}

#fusion-description, #fusion-description-2 {
    margin:auto;
    text-align: center;
    width: 65%;
    font-size: 1.4vw !important;
    line-height: 1.6vw !important;
}

#fusion-description-2 {
    padding-top: .5vw;
    padding-bottom: .5vw;
}

h2 {
    font-size: 2vw;
}

#fusion-controls h2 {
    font-size: 2vw;
    line-height: 2.1vw;

}
  
  @keyframes blinker {
    12% {
        opacity: 0.7;
      }
    34% {
        opacity: 0.9;
      }
    50% {
      opacity: 0.5;
    }
    74% {
        opacity: .7;
    }
    100% {
        opacity: 0.9;
    }
  }

#fusion-section, #your-cyborg-section {
    width:80vw;
    margin: auto;
    text-align: center;
    min-height:40vh;
    padding: 30px;
}

#fusion-section {
    background-color: #2f4353;
    background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
    border: ridge 1vw rgb(92, 100, 107);
}

#fusion-section button {
    font-family: 'Helvetica Bold';
}

#available-cyborg-images {
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

#cyborg-label {
    margin: 2vw;
    text-align: center;
}

.hidden {
    display: none;
}

.your-cyborg {
    width: 17%;
    font-size: 1.3vw;
    margin: 10px;
}

.your-cyborg img {
    margin: 5px;
    border: 3px solid white;
}

.cyborg-id {
    text-align: center;
    margin-top: 5px;
}

.hide-on-desktop {
    display: none !important;
}

.one {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.0s;
    animation: dot 1.3s infinite;
    animation-delay: 0.0s;
}

.two {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.2s;
    animation: dot 1.3s infinite;
    animation-delay: 0.2s;
}
  
.three {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.3s;
    animation: dot 1.3s infinite;
    animation-delay: 0.3s;
}
  
@-webkit-keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*fusion control stuff*/

:root {
    --neon-text-color: #f40;
    --neon-border-color: #08f;
}

#fusion-header-text{
    color: #fff;
    padding: 1vw;
    letter-spacing: 4px;
    border: 0.4rem solid #fff;
    border-radius: 2rem;
    text-transform: uppercase;
    animation: flicker2 1.5s infinite alternate; 
    background-color: #2f4353;
    font-family: 'Retro';
}

#fusion-header-gif {
    border-radius: 30px;
    width: 45%;
    box-shadow:
    0 0 .5rem #fff,
    inset 0 0 .5rem #fff,
    0 0 2rem var(--neon-border-color),
    inset 0 0 2rem var(--neon-border-color),
    0 0 4rem var(--neon-border-color),
    inset 0 0 4rem var(--neon-border-color);        
}

#fusion-header-text::-moz-selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
}

#fusion-header-text::selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
}

#fusion-header-text:focus {
    outline: none;
}

/* Animate neon flicker */
@keyframes flicker2 {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    
        text-shadow:
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem #fff,
            0 0 2rem var(--neon-text-color),
            0 0 4rem var(--neon-text-color),
            0 0 6rem var(--neon-text-color),
            0 0 8rem var(--neon-text-color),
            0 0 10rem var(--neon-text-color);
        
        box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 2rem var(--neon-border-color),
            inset 0 0 2rem var(--neon-border-color),
            0 0 4rem var(--neon-border-color),
            inset 0 0 4rem var(--neon-border-color);        
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }    
}

#fusion-section-inner {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

#subjects {
    width: 60%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

#select-subjects-button, #fuse-button {
    width: 82%;
}

#select-subjects-button {
    font-size: 1.3vw !important;
    font-family: 'LED';
    padding: .5vw;
    background-color: red;
    border: darkred outset .5vw;
}

#select-subjects-button:hover {
    background-color: rgb(255, 45, 45);
    border: rgb(180, 14, 14) groove .5vw;
}

#fuse-button {
    background-color: red;
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    border: darkred outset .5vw;
    font-size: 1.3vw !important;
}

#fuse-button:hover {
    background-color: rgb(255, 45, 45);
    border: rgb(180, 14, 14) groove .45vw;
    font-size: 1.27vw !important;
}

#fusion-controls {
    width: 40%;
    font-family: 'LED';
    background-size: cover;
    padding: 1.3vw;
}

h3 {
    margin: .1vw;
    font-size: 1.5vw;
    line-height: 1.9vw;
}

.increment-button {
    background-color: red !important;
    color: black !important;
    height: 4vw;
    width: 4vw;
    font-family: 'Helvetica Bold';
    border-radius: 50%;
    border: darkred outset .5vw;
	font-size:2vw !important;
	line-height:2vw !important;
}

.increment-button:hover {
	cursor: pointer;
    background-color: rgb(255, 45, 45);
    border: rgb(180, 14, 14) groove .45vw;
    font-size: 1.8vw !important;
}

#amount-controller {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#mint-plus {
    margin-left: 2%;
}

#fusion-display {
    padding: 1vw;
    margin: 1vw;
    margin-left: 0;
    margin-right: 0;
    background-color: rgba(14, 77, 14, 0.438);
    border: groove 1vw rgb(92, 100, 107);
}

#fusion-panel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.indicator p {
    font-size: 1vw;
    color: white;
    text-align: center;
    background-color: #2f4353;
    margin: 8%;
    padding: .3vw;
    border: ridge .3vw rgb(92, 100, 107);
}

#fusion-panel button {
    border-radius: 50%;
}

.indicator button:hover {
    cursor: default;
}

.indicator {
    text-align: center;
    width: 40%;
}

.indicator button {
    width:2vw;
    height:2vw;
    border: ridge .3vw rgb(92, 100, 107);
}

.subject {
    width: 40% !important;
    margin: 1%;
    text-align: center;
}

.subject h2 {
    font-family: "LED";
    margin-top: 10px;
    background-color: rgba(14, 77, 14, 0.438);
    border: ridge .3vw rgb(92, 100, 107);
    padding:.5vw;
}
  
.subject img {
    border: groove 1vw rgb(92, 100, 107);
    width: 100%;
    height: 100%;
    /* backdrop-filter: blur(5px); */
}

.section-title{
	font-size:  2.3vw;
	text-align: center;
}

/* CRT effect code courtesy of http://aleclownes.com/2017/02/01/crt-display.html */

@keyframes flicker {
    0% {
      opacity: 0.27861;
    }
    5% {
      opacity: 0.34769;
    }
    10% {
      opacity: 0.23604;
    }
    15% {
      opacity: 0.90626;
    }
    20% {
      opacity: 0.18128;
    }
    25% {
      opacity: 0.83891;
    }
    30% {
      opacity: 0.65583;
    }
    35% {
      opacity: 0.67807;
    }
    40% {
      opacity: 0.26559;
    }
    45% {
      opacity: 0.84693;
    }
    50% {
      opacity: 0.96019;
    }
    55% {
      opacity: 0.08594;
    }
    60% {
      opacity: 0.20313;
    }
    65% {
      opacity: 0.71988;
    }
    70% {
      opacity: 0.53455;
    }
    75% {
      opacity: 0.37288;
    }
    80% {
      opacity: 0.71428;
    }
    85% {
      opacity: 0.70419;
    }
    90% {
      opacity: 0.7003;
    }
    95% {
      opacity: 0.36108;
    }
    100% {
      opacity: 0.24387;
    }
  }
  @keyframes textShadow {
    0% {
      text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    5% {
      text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    10% {
      text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    15% {
      text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    20% {
      text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    25% {
      text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    30% {
      text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    35% {
      text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    40% {
      text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    45% {
      text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    50% {
      text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    55% {
      text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    60% {
      text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    65% {
      text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    70% {
      text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    75% {
      text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    80% {
      text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    85% {
      text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    90% {
      text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    95% {
      text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    100% {
      text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
  }
  .crt::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 2s infinite;
  }
  .crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06);
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
  }
  .crt {
    animation: textShadow 20s infinite;
  }

/* end CRT effect */

.selected {
    color: red;
}

.selected img {
    border-color: red !important;
}

#yeti-select {
    background-color: black;
    border: .2em solid white;
    z-index: 10000;
    color:white;
    position:fixed;
    top:5vh;
    left: 50%;
    padding-top: 20px;
    padding-bottom: 0px;
    transform: translate(-50%, 0);
    width: 90vw;
    height: 85vh;
    box-shadow: 0 0 5000px 5000px rgba(0,0,0,0.88);
}

#available-yetis {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    max-height: 70%;
    padding-bottom: 1%;
    overflow-y: scroll;
}

#yeti-select {
    height: 95vh;
    top: 2.5vh;
}

#yeti-select #close {
    padding: 1.1vw;
}

.yeti-div {
    cursor: pointer !important;
    width: 17% !important;
    margin: 1%;
    text-align: center;
}

.yeti-div h2 {
    margin-top: 10px;
}
  
.yeti-div:hover {
    cursor: pointer !important;
}
  
.yeti-div img {
    border: solid 5px white;
    width: 100%;
    height: 100%;
}

#close-div {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: black;
}


#close {
    position: absolute;
    padding: 2vw;
    position: fixed;
    top: 0;
    right: 0;
    text-align: right;
    cursor: pointer;
    font-size: 3vw;
    color: red;
    z-index: 10001;
}

#selected-yetis-big {
    line-height: 2vw;
    width: 100%;
    text-align: center;
}

#bottom-div {
    width: 100%;
    position: absolute;
    bottom: 0;
	background-color: black;
    border-top: solid .2em white;
    font-size: 2vw;
    padding: 1%;
    text-align: center;
    height:20%;
}

#confirm {
    width: 15%;
    padding: 5px;
    font-size: 1.5vw;
    height:40%;
}

  /* end fusion control stuff*/

#error-popup, #status-popup {
	background-color: rgba(0,0,0);
    z-index: 99999;
    position:fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 53vw;
    height: 35vh;
    border: solid .3em white;
    border-radius: .2em;
    text-align: center;
    box-shadow: 0 0 5000px 5000px rgba(0,0,0,0.88);
}

#loading-popup {
    background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
    border: ridge 1vw rgb(92, 100, 107);
    padding:5vw;
    z-index: 99999;
    position:fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 33vw;
    border-radius: .2em;
    text-align: center;
    box-shadow: 0 0 5000px 5000px rgba(0,0,0,0.88);
}

#error-popup p, #status-popup p {
    width: 100%;
    font-size: 3vw;
    line-height: 3vw;
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* status button css */

.condition-met {
    background-color: rgb(49, 219, 49);
    color: rgb(49, 219, 49);
    animation: blinker 1.6s linear infinite;
}

.condition-failed {
    background-color: #f80800;
    color: #f80800;
    animation: blinker 1.6s linear infinite;
}

@media screen and (max-width: 991px) {

    h3 {
		font-size:  2.4vh !important;
		line-height:  2.9vh !important;
	}


    .increment-button {
        /* height: 6vh !important;
        width: 6vh !important; */
        height: 70px !important;
        width: 70px !important;
        border-width: 1vh;
        font-size:3.5vh !important;
        line-height:3.5vh !important;
    }

    .increment-button:hover {
        cursor: pointer;
        border-width: .85vh;
        font-size: 2.6vh !important;
    }

    #amount-controller {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #mint-plus {
        margin-left: 2%;
    }

    .section-title {
        font-size: 4vh;
        text-align: center;
    }

    .subject {
        width: 44% !important;
        margin: 2%;
        text-align: center;
    }

    #available-yetis {
        padding-bottom: 8%;
    }

    #yeti-select h1 {
        margin-bottom: 0 !important;
    }

    #select-subjects-button {
        width: 93%;
    }

    .indicator {
        width: 50%;
    }

    .indicator p {
        font-size: 2.1vh;
        line-height: 2.3vh;
        padding: 10px;
        padding-right: 20px;
        padding-left: 20px;
        border-width: .3vh;
    }

    .indicator button {
        font-size: 2.3vh;
        line-height: 2.3vh;
        width: 2.3vh;
        height: 2.3vh;
        padding: 10px;
        border-width: .3vh;
    }

    #select-subjects-button {
        font-size: 2.5vh !important;
        padding:5px;
        border-width: 1vh;
    }

    #select-subjects-button:hover {
        border-width: 1vh;
    }

    #fuse-button {
        width: 100px;
        height: 100px;
        font-size: 2.5vh !important;
        border-width: 1vh;
        padding: 10px !important;
        text-align: center;
    }
    
    #fuse-button:hover {
        border-width: .85vh;
        font-size: 2.7vh !important;
    }

    h3 {
        font-size: 2.7vh;
    }

    #subjects, #fusion-controls {
        width: 100%;
    }

    #subjects {
        margin-bottom: 10px;
    }

    #confirm {
        width: 100%;
        height: initial;
        padding: 15px;
        font-size: 3vh !important;
      }

    #selected-yetis-big {
        width: 100%;
        position: sticky;
        bottom: 0;
        border-top: none;
        font-size: 4vh;
        line-height: 4vh;
        padding: 10px;
    }

    #bottom-div {
        height: 20%;
    }

    .yeti-div {
        width: 40% !important;
        margin: 2.5%;
    }

    #close {
        padding: 2vh;
        font-size: 4vh;
    }

    #yeti-label {
        font-size: 1.9vh !important;
        line-height: 2.7vh !important;
    }

    .hide-on-desktop {
        display: block !important;
    }
    
    .hide-on-mobile {
        display: none !important;
    }

    #mobile-account {
        width:80%;
        margin-top: 10px;
    }

    #fusion-description, #fusion-description-2 {
        margin:auto;
        text-align: center;
        width: 95%;
        font-size: 2.5vh !important;
        line-height: 2.9vh !important;
    }

    h2 {
        font-size: 2.7vh !important;
        line-height: 2.7vh !important; 
    }

    #fusion-controls h2 {
        font-size: 2.3vh !important;
        line-height: 2.3vh !important; 
    }

    button {
        font-size: 1.7vh !important;
        line-height: 1.7vh !important;
    }

    #fusion-header-gif {
        border-radius: 30px;
        width: 95%;
        margin-bottom: 10px;
    }

    #fusion-header-text {
        padding: 1vh;
        font-size: 2.3vh !important;
        line-height: 2.3vh !important;
        letter-spacing: 2px;
    }

    #fusion-section, #your-cyborg-section {
        width:95vw;
        min-height: 0;
        margin: auto;
    }

    .subject h2 {
        border-width: .5vh;
    }

    #fusion-section {
        border-width: 2vh;
    }

    #fusion-display {
        border-width: 1vh;
    }

    .subject img {
        border-width: 1vh;
    }

    #available-cyborg-images {
        width: 100%;
        text-align: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .box3 {
        padding: 20px;
    }

    .your-cyborg {
        width: 41%;
    }

    #pending-transactions {
        min-width: 85%;
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%, 0);
      }
    
    .loading-div {
        font-size: 4vw;
        line-height: 4vw;
    }

    #error-popup, #status-popup {
        width: 75vw;
        height: 15vh;
    }

    #loading-popup {
        width: 75vw;
        border-width: 2vh;
    }

    #error-popup p, #status-popup p {
        font-size: 4vw;
        line-height: 4vw;
    }
}